Test/Web References/WebReference/Run_SQL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FormDataTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SQL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FormDataTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FormDataTableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Execute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SQL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FormDataTableSoapIn">
    <wsdl:part name="parameters" element="tns:FormDataTable" />
  </wsdl:message>
  <wsdl:message name="FormDataTableSoapOut">
    <wsdl:part name="parameters" element="tns:FormDataTableResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteSoapIn">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="ExecuteSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:portType name="Run_SQLSoap">
    <wsdl:operation name="FormDataTable">
      <wsdl:input message="tns:FormDataTableSoapIn" />
      <wsdl:output message="tns:FormDataTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <wsdl:input message="tns:ExecuteSoapIn" />
      <wsdl:output message="tns:ExecuteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Run_SQLSoap" type="tns:Run_SQLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FormDataTable">
      <soap:operation soapAction="http://tempuri.org/FormDataTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://tempuri.org/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Run_SQLSoap12" type="tns:Run_SQLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FormDataTable">
      <soap12:operation soapAction="http://tempuri.org/FormDataTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap12:operation soapAction="http://tempuri.org/Execute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Run_SQL">
    <wsdl:port name="Run_SQLSoap" binding="tns:Run_SQLSoap">
      <soap:address location="http://localhost:1454/Run_SQL.asmx" />
    </wsdl:port>
    <wsdl:port name="Run_SQLSoap12" binding="tns:Run_SQLSoap12">
      <soap12:address location="http://localhost:1454/Run_SQL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>